.hidden {
  display: none;
}

table, table.common {
 th, tr, tr.even, td {
   .no_border {
      border: 0;
    }

    .no_bg {
      background: none;
    }
  }

  .w-2  {width: 2em;}
  .w-4  {width: 4em;}
  .w-6  {width: 6em;}
  .w-8  {width: 8em;}
  .w-10  {width: 10em;}
  .w-datetime {width: 14em;}
  .text {
    padding: .5em;
  }
}

/* this is to override blueprintcss's typography css */
tbody tr:nth-child(even) td.no_bg, tbody tr.even td.no_bg {
      background: none;
}

//The flash-xxx styl'es display's a message at the top of the page.
.flash-success, .flash-error {
  border: 3px solid red;
  
  width: 300px;
    position: fixed;
    top: 0; 
    left: 38%;
    font-weight: bold;
    z-index: 10;
    text-align: center;

}

.flash-success {
  border: 3px solid green;
    background-color: green;
    color: white;
}

.flash-error {
    background-color: red;
    color: white;
}

.flash-error:before {
  content: "ERROR SAVING: ";
}

/* overlay styles, all needed */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    z-index: 10;
}

.overlay-5 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}


.modal {
  height: 40px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  z-index: 11; /* 1px higher than the overlay layer */
}

.modal-1 {
    z-index: 15; /* 1px higher than the overlay layer */
}



