

.fg-toolbar {
  padding: 5px 0;
}
.dataTables_filter {
  display: inline;
  margin: 0 1em;
  float: right;
}

.dataTables_info {
  margin: 0 1em;
  display: inline;
}

.dataTables_paginate {
  display: block;
  float: right;
  margin: 0 1em;  

  a {
    padding: 3px 3px;
    border: 1px solid #4C6432;
    background: #8FA577;
    color: white;
    text-decoration: none;
    font-size: .8em;
    cursor: pointer;
  }    
}

.fg-button {
  float: right;
}
.dataTables_length {
  margin: 0 1em;
  display: inline;
}

table.dataTable {

  border-collapse: collapse;
  margin: 0;

  .DataTables_sort_icon {
    float: right;
  }

  th.ui-state-default {
    padding: 5px;
  }

  td {
    border: 1px solid #D5D5D5;
  }

  td.sorting_1 {
    background: #EEF1F5;
  }
}